.decor-piece {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
  }
  
  .decor-piece img {
    max-width: 100%;
  }
  
  #container {
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
#btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#buy-form {
    margin-top: 20px;
}

#buy {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(236, 66, 95);
}
#title {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

  
